<div style="text-align: center;color:grey;">
	<h1>Welcome to College Finder!</h1>
	<h5> With this tool, you can research any college in the US!</h5> 
	<h5> Click on "Programs" to view different Fields of Study </h5>
	<h5> Advance Search to curate your customize search based from your criteria</h5>
	<h5> Sign Up so you can create your profile and save your college searches</h5>
	<h5> Once profile is created, you can view Recommended College for you!</h5>
</div>