
 <div class="index-body">
	<div class="homepageHero">
		<div id="heroOverlay"></div>
		<h1 style="opacity:1 !important;">Welcome to College Finder!</h1>	
	</div>
	<p> With this tool, you can research any college in the US!</p> 
	
	<ul>
		<li>Sign Up to see your profile, save your college searches, and view your recommended colleges</li>
		<li>Curate &amp; customize your criteria with Advanced Search</li>
		<li> View different fields of studies through "Programs"</li>
	</ul>
</div>